# Ignore build directories
build
debug
cmake-build-debug

# Ignore CLion IDE project files
.idea

# Generated data files
*.dat

# Temporal files
*~

# Internal development
matlab
mex
cmake/modules/BuildMex.cmake
cmake/modules/FindMATLAB.cmake
cmake/modules/FindOCTAVE.cmake

