
// All times are in ms. Use -1 for infinity, where available

qci_config = (

{
  qci=7;
  pdcp_config = {
    discard_timer = 100;                
    pdcp_sn_size = 12;                  
  }
  rlc_config = {
    ul_um = {
      sn_field_length = 10; 
    };
    dl_um = {
      sn_field_length = 10; 
      t_reordering    = 80;             
    };
  };
  logical_channel_config = {
    priority = 11; 
    prioritized_bit_rate   = -1; 
    bucket_size_duration  = 100; 
    log_chan_group = 3; 
  };
},
{
  qci=9;
  pdcp_config = {
    discard_timer = -1;                 
    status_report_required = false;
  }
  rlc_config = {
    ul_am = {
      t_poll_retx = 200; 
      poll_pdu    = 16; 
      poll_byte   = -1; 
      max_retx_thresh = 8;
    };
    dl_am = {
      t_reordering      = 80;
      t_status_prohibit = 35; 
    };
  };
  logical_channel_config = {
    priority = 3; 
    prioritized_bit_rate  = 8; 
    bucket_size_duration  = 50; 
    log_chan_group = 3; 
  };
}

);


