// All times are in ms. Use -1 for infinity, where available

// 4G Section

// srb1_config = {
//   rlc_config = {
//     ul_am = {
//       t_poll_retx = 45;
//       poll_pdu = -1;
//       poll_byte = -1;
//       max_retx_thresh = 4;
//     };
//     dl_am = {                                                                                      
//       t_reordering = 35;
//       t_status_prohibit = 0;
//     };
//     enb_specific = {
//      dl_max_retx_thresh = 32;
//     };
//   };
// }

// srb2_config = {
//   rlc_config = {
//     ul_am = {
//       t_poll_retx = 45;
//       poll_pdu = -1;
//       poll_byte = -1;
//       max_retx_thresh = 4;
//     };
//     dl_am = {
//       t_reordering = 35;
//       t_status_prohibit = 0;
//     };
//     enb_specific = {
//      dl_max_retx_thresh = 32;
//     };
//   };
// }

qci_config = (
{
  qci = 7;
  pdcp_config = {
    discard_timer = -1;                
    pdcp_sn_size = 12;                  
  }
  rlc_config = {
    ul_um = {
      sn_field_length = 10; 
    };
    dl_um = {
      sn_field_length = 10; 
      t_reordering    = 45;             
    };
  };
  logical_channel_config = {
    priority = 13; 
    prioritized_bit_rate   = -1; 
    bucket_size_duration  = 100; 
    log_chan_group = 2; 
  };
  enb_specific = {
    dl_max_retx_thresh = 32;
  };
},
{
  qci = 9;
  pdcp_config = {
    discard_timer = 150;
    status_report_required = true;
  }
  rlc_config = {
    ul_am = {
      t_poll_retx = 120;
      poll_pdu = 64;
      poll_byte = 750;
      max_retx_thresh = 16;
    };
    dl_am = {
      t_reordering = 50;
      t_status_prohibit = 50;
    };
  };
  logical_channel_config = {
    priority = 11; 
    prioritized_bit_rate   = -1; 
    bucket_size_duration  = 100; 
    log_chan_group = 3; 
  };
  enb_specific = {
    dl_max_retx_thresh = 32;
  };
}
);

// 5G Section
srb1_5g_config = {
 rlc_config = {
   ul_am = {
     sn_field_len = 12;
     t_poll_retx = 45;
     poll_pdu = -1;
     poll_byte = -1;
     max_retx_thres = 8;
   };
   dl_am = {
     sn_field_len = 12;
     t_reassembly = 35;
     t_status_prohibit = 10;
   };
 };
}

srb2_5g_config = {
 rlc_config = {
   ul_am = {
     sn_field_len = 12;
     t_poll_retx = 45;
     poll_pdu = -1;
     poll_byte = -1;
     max_retx_thres = 8;
   };
   dl_am = {
     sn_field_len = 12;
     t_reassembly = 35;
     t_status_prohibit = 10;
   };
 };
}

five_qi_config = (
{
  five_qi = 7;
  pdcp_nr_config = {
    drb = {
      pdcp_sn_size_ul = 18;
      pdcp_sn_size_dl = 18;
      discard_timer = 50;
      integrity_protection = false;
      status_report = false;
    };
    t_reordering = 50;
  };
  rlc_config = {
    um_bi_dir = {
      ul_um = {
        sn_field_len = 12;
      };
      dl_um = {
        sn_field_len = 12;
        t_reassembly = 50;
      };
    };
  };
},
{
  five_qi = 9;
  pdcp_nr_config = {
    drb = {
      pdcp_sn_size_ul = 18;
      pdcp_sn_size_dl = 18;
      discard_timer = 50;
      integrity_protection = false;
      status_report = false;
    };
    t_reordering = 50;
  };
  rlc_config = {
    am = {
      ul_am = {
        sn_field_len = 12;
        t_poll_retx = 50;
        poll_pdu = 4;
        poll_byte = 3000;
        max_retx_thres = 4;
      };
      dl_am = {
        sn_field_len = 12;
        t_reassembly = 50;
        t_status_prohibit = 50;
      };
    };
  };
}
);

