sib1 =
{
    intra_freq_reselection = "Allowed";
    q_rx_lev_min = -65;
    //p_max = 3;
    cell_barred = "NotBarred"
    si_window_length = 20;
    sched_info =
    (
        {
            si_periodicity = 16;

            // comma-separated array of SIB-indexes (from 3 to 13), leave empty or commented to just scheduler sib2
            si_mapping_info = [ 3 ];
        }
    );
    system_info_value_tag = 0;
};

sib2 = 
{
    rr_config_common_sib =
    {
        rach_cnfg = 
        {
            num_ra_preambles = 52;
            preamble_init_rx_target_pwr = -104;
            pwr_ramping_step = 6;  // in dB
            preamble_trans_max = 10;
            ra_resp_win_size = 10;  // in ms
            mac_con_res_timer = 64; // in ms
            max_harq_msg3_tx = 4;
        };
        bcch_cnfg = 
        {
            modification_period_coeff = 16; // in ms
        };
        pcch_cnfg = 
        {
            default_paging_cycle = 32; // in rf
            nB = "1";
        };
        prach_cnfg =
        {
            root_sequence_index = 128;
            prach_cnfg_info =
            {
                high_speed_flag = false;
                prach_config_index = 3;
                prach_freq_offset = 4;
                zero_correlation_zone_config = 5;
            };
        };
        pdsch_cnfg = 
        {
            /* Warning: Currently disabled and forced to p_b=1 for TM2/3/4 and p_b=0 for TM1
             */
            p_b = 1;
            rs_power = 0;
        };
        pusch_cnfg = 
        {
            n_sb = 1;
            hopping_mode = "inter-subframe";
            pusch_hopping_offset = 2;
            enable_64_qam = false; // 64QAM PUSCH is not currently enabled
            ul_rs = 
            {
                cyclic_shift = 0; 
                group_assignment_pusch = 0;
                group_hopping_enabled = false; 
                sequence_hopping_enabled = false; 
            };
        };
        pucch_cnfg =
        {
            delta_pucch_shift = 1;
            n_rb_cqi = 1;
            n_cs_an = 0;
            n1_pucch_an = 12;
        };
        ul_pwr_ctrl =
        {
            p0_nominal_pusch = -85;
            alpha = 0.7;
            p0_nominal_pucch = -107;
            delta_flist_pucch =
            {
                format_1  = 0;
                format_1b = 3; 
                format_2  = 1;
                format_2a = 2;
                format_2b = 2;
            };
            delta_preamble_msg3 = 6;
        };
        ul_cp_length = "len1";
    };

    ue_timers_and_constants =
    {
        t300 = 2000; // in ms
        t301 = 100;  // in ms
        t310 = 200; // in ms
        n310 = 1;
        t311 = 10000; // in ms
        n311 = 1;
    };

    freqInfo = 
    {
        ul_carrier_freq_present = true; 
        ul_bw_present = true; 
        additional_spectrum_emission = 1; 
    };

    time_alignment_timer = "INFINITY"; // use "sf500", "sf750", etc.
};

sib3 =
{
    cell_reselection_common = {
        q_hyst = 2; // in dB
    },
    cell_reselection_serving = {
        s_non_intra_search = 3,
        thresh_serving_low = 2,
        cell_resel_prio = 6
    },
    intra_freq_reselection = {
        q_rx_lev_min = -61,
        p_max = 23,
        s_intra_search = 5,
        presence_ant_port_1 = true,
        neigh_cell_cnfg = 1,
        t_resel_eutra = 1
    }
};

#####################################################################
# sib5 configuration options (See TS 36.331)
# Contains information relevant for inter-frequency cell re-selection.
# Must be added to sib1::sched_info::si_mapping_info array parameter to be transmitted
#
# inter_freq_carrier_freq_list: A list of neighbouring inter-frequencies.
#     dl_carrier_freq: The EARFCN for the EUTRA carrier frequency.
#     q_rx_lev_min: Minimum received RSRP level in the E-UTRA cell, ([field_val] * 2) = [level in dBm].
#     p_max: Optional maximum allowed transmission power for the neighbouring E-UTRA cells on this carrier frequency.
#     t_resel_eutra: Cell reselection timer (seconds).
#     t_resel_eutra_sf: Optional speed dependent ScalingFactor for t_resel_eutra.
#         sf_medium: Scaling factor if the UE is in Medium Mobility state, one of "0.25", "0.5", "0.75" or "1.0".
#         sf_high: Scaling factor if the UE is in High Mobility state, one of "0.25", "0.5", "0.75" or "1.0".
#     thresh_x_high: Srclev threshold (dB) to select to a higher-priority RAT/Frequency.
#     thresh_x_low: Srclev threshold (dB) to select to a lower-priority RAT/Frequency.
#     allowed_meas_bw: Maximum allowed measurement bandwidth on a carrier frequency .
#     presence_ant_port_1: whether all the neighbouring cells use Antenna Port 1.
#     cell_resel_prio: Optional absolute priority of the carrier frequency group.
#     neigh_cell_cfg: Information related to MBSFN and TDD UL/DL configuration of neighbour cells.
#     q_offset_freq: Frequency specific offset for equal priority E-UTRAN frequencies.
#     inter_freq_neigh_cell_list: A List of inter-frequency neighbouring cells with specific cell re-selection parameters.
#         phys_cell_id: Physical layer identity of the cell.
#         q_offset_cell: Cell spcific offset.
#     inter_freq_black_cell_list: A List of blacklisted inter-frequency neighbouring cells.
#         start: The lowest physical cell identity in the range.
#         range: The number of physical cell identities in the range.
#
#####################################################################
sib5 =
{
    inter_freq_carrier_freq_list =
    (
        {
            dl_carrier_freq = 1450;
            q_rx_lev_min = -70;
            t_resel_eutra = 2;
            t_resel_eutra_sf = {
                sf_medium = "0.25";
                sf_high = "1.0";
            };
            thresh_x_high = 3;
            thresh_x_low = 2;
            allowed_meas_bw = 75;
            presence_ant_port_1 = True;
            cell_resel_prio = 4;
            neigh_cell_cfg = 2;
            q_offset_freq = -6;
            inter_freq_neigh_cell_list =
            (
                {
                    phys_cell_id = 500;
                    q_offset_cell = 2;
                }
            );
            inter_freq_black_cell_list =
            (
                {
                    start = 123;
                    range = 4;
                }
            );
        }
    );
};

#####################################################################
# sib6 configuration options (See TS 36.331)
# Contains UTRA neighbor information for inter-rat handover.
# Must be added to sib1::sched_info::si_mapping_info array parameter to be transmitted
#
# t_resel_utra: Cell reselection timer (seconds)
# t_resel_utra_sf: Optional speed dependent ScalingFactor for t_resel_utra.
#     sf_medium: Scaling factor if the UE is in Medium Mobility state, one of "0.25", "0.5", "0.75" or "1.0".
#     sf_high: Scaling factor if the UE is in High Mobility state, one of "0.25", "0.5", "0.75" or "1.0".
# carrier_freq_list_utra_fdd / carrier_freq_list_utra_tdd: A list of carrier frequencies of UTRA FDD / TDD.
#     carrier_freq: The UARFCN for the UTRA carrier frequency.
#     cell_resel_prio: Optional absolute priority of the carrier frequency group.
#     thresh_x_high: Srclev threshold (dB) to select to a higher-priority RAT/Frequency.
#     thresh_x_low: Srclev threshold (dB) to select to a lower-priority RAT/Frequency.
#     q_rx_lev_min: Minimum receive level in UTRA cell, ([field_val] * 2) + 1 = [level in dBm].
#     p_max_utra: The maximum allowed transmission power on the (uplink) carrier frequency.
#     q_qual_min: Minimum required quality leve in UTRA cell, applicable only for FDD cells.
#
#####################################################################
sib6 =
{
    t_resel_utra = 1;
    t_resel_utra_sf = {
        sf_medium = "0.25";
        sf_high = "1.0";
    }
    carrier_freq_list_utra_fdd =
    (
        {
            carrier_freq = 9613;
            cell_resel_prio = 6;
            thresh_x_high = 3;
            thresh_x_low = 2;
            q_rx_lev_min = -50;
            p_max_utra = 4;
            q_qual_min = -10;
        }
    );
    carrier_freq_list_utra_tdd =
    (
        {
            carrier_freq = 9505;
            thresh_x_high = 1;
            thresh_x_low = 2;
            q_rx_lev_min = -50;
            p_max_utra = -3;
        }
    );
};

#####################################################################
# sib7 configuration options (See TS 36.331)
# Contains GERAN neighbor information for CSFB and inter-rat handover.
# Must be added to sib1::sched_info::si_mapping_info array parameter to be transmitted
#
# t_resel_geran: Cell reselection timer (seconds)
# t_resel_geran_sf: Optional speed dependent ScalingFactor for t_resel_geran.
#     sf_medium: Scaling factor if the UE is in Medium Mobility state, one of "0.25", "0.5", "0.75" or "1.0".
#     sf_high: Scaling factor if the UE is in High Mobility state, one of "0.25", "0.5", "0.75" or "1.0".
# carrier_freqs_info_list: A list of carrier frequency groups.
#     cell_resel_prio: Absolute priority of the carrier frequency group
#     ncc_permitted: 8-bit bitmap of NCC carriers permitted for monitoring
#     q_rx_lev_min: Minimum receive level in gsm cell, ([field_val] * 2) - 115 = [level in dBm]
#     thresh_x_high: Srclev threshold (dB) to select to a higher-priority RAT/Frequency
#     thresh_x_low: Srclev threshold (dB) to select to a lower-priority RAT/Frequency
#     start_arfcn: Initial search ARFCN value
#     band_ind: One of "dcs1800" or "pcs1900" Disambiguates ARFCNs in these bands, has no meaning for other ARFCNs.
#     explicit_list_of_arfcns: List of ARFCN numbers in the group
#
#####################################################################
sib7 =
{
    t_resel_geran = 1;
    carrier_freqs_info_list =
    (
        {
            cell_resel_prio = 0;
            ncc_permitted = 255;
            q_rx_lev_min = 0;
            thresh_x_high = 2;
            thresh_x_low = 2;

            start_arfcn = 871;
            band_ind = "dcs1800";
            explicit_list_of_arfcns = (
                871
            );
        }
    );
};
