[Unit]
Description=SRS EPC Service

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/srsepc
RestartSec=2

[Install]
WantedBy=multi-user.target
