[Unit]
Description=SRS ENB Service

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/srsenb

RestartSec=2

[Install]
WantedBy=multi-user.target
