Source: srslte
Section: universe/misc
Priority: optional
Maintainer: srsLTE Packagers <packagers@softwareradiosystems.com>
Build-Depends:
    debhelper (>= 9),
    dh-exec,
    cmake,
    build-essential,
    libfftw3-dev,
    libmbedtls-dev,
    libboost-program-options-dev,
    libconfig++-dev,
    libsctp-dev,
    libuhd-dev,
    uhd-host,
    txt2man
Standards-Version: 4.2.1
Homepage: http://www.softwareradiosystems.com
Vcs-Git: https://github.com/srsLTE/srsLTE.git
Vcs-Browser: https://github.com/srsLTE/srsLTE/

Package: srslte-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         srslte-core:any (= ${binary:Version})
Breaks: srslte (<= 19.03-0ubuntu1)
Replaces: srslte (<= 19.03-0ubuntu1)
Description: Static libraries and headers for srslte
 This software allows you to run a full end-to-end, open-source LTE system.
 It contains a UE, eNB and EPC implementation.
 .
 This package contains the development files - static libraries and headers

Package: srslte
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         srsenb       (>= ${source:Version}), srsenb (<< ${source:Upstream-Version}.0~),
         srsue        (>= ${source:Version}), srsue  (<< ${source:Upstream-Version}.0~),
         srsepc       (>= ${source:Version}), srsepc (<< ${source:Upstream-Version}.0~)
Description: LTE software suite for software defined radios (metapackage)
 This software allows you to run a full end-to-end, open-source LTE system.
 It contains a UE, eNB and EPC implementation.
 .
 This package installs all srsLTE components.

Package: srsenb
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         srslte-core (= ${binary:Version})
Breaks: srslte (<= 19.03-0ubuntu1)
Replaces: srslte (<= 19.03-0ubuntu1)
Description: Complete SDR LTE eNodeB application
 This software allows you to run a full end-to-end, open-source LTE system.
 It contains a UE, eNB and EPC implementation.
 .
 This package contains srsENB only. For running a full network, a core network
 component, such as srsEPC, is needed.

Package: srsepc
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         srslte-core (= ${binary:Version})
Recommends: srsenb
Breaks: srslte (<= 19.03-0ubuntu1)
Replaces: srslte (<= 19.03-0ubuntu1)
Description: Light-weight LTE core network implementation
 This software allows you to run a full end-to-end, open-source LTE system.
 It contains a UE, eNB and EPC implementation.
 .
 This package contains a light-weight LTE core network implementation with MME, HSS and S/P-GW.

Package: srslte-core
Architecture: any
Multi-Arch: allowed
Depends: ${shlibs:Depends},
         ${misc:Depends}
Breaks: srslte (<= 19.03-0ubuntu1)
Replaces: srslte (<= 19.03-0ubuntu1)
Description: Common files for srsLTE
 This software allows you to run a full end-to-end, open-source LTE system.
 It contains a UE, eNB and EPC implementation.
 .
 This package contains the common files for srsenb, srsue and srsepc.

Package: srsue
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         srslte-core (= ${binary:Version})
Breaks: srslte (<= 19.03-0ubuntu1)
Replaces: srslte (<= 19.03-0ubuntu1)
Description: User Equipment implementation for LTE
 This software enables using a software defined radio as the user equipment
 connecting to an LTE network.
 .
 srsUE provides a complete SDR LTE UE application featuring all layers from PHY to IP.