[Unit]
Description=Software Radio System's LTE eNB implementation

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/srsenb /etc/srslte/enb.conf
RestartSec=2

[Install]
WantedBy=multi-user.target
