[Unit]
Description=Software Radio Systems UE implementation

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/srsue /etc/srslte/ue.conf
RestartSec=2

[Install]
WantedBy=multi-user.target
