#
# .csv to store UE's information in HSS
# Kept in the following format: "Name,IMSI,Key,OP,AMF"
# 
# Name: Human readable name to help distinguish UE's. Largely ignored by the HSS
# IMSI: UE's IMSI value
# Key:  UE's key, where other keys are derived from. Stored in hexadecimal
# OP:   Operator's code, sotred in hexadecimal
# AMF:  Authentication management field, stored in hexadecimal
# SQN:  UE's Sequence number for freshness of the authentication 
#
# Note: Lines starting by '#' are ignored
ue1,001010123456789,00112233445566778899aabbccddeeff,63BFA50EE6523365FF14C1F45F88737D,9001,000000001234
ue2,001010123456780,00112233445566778899aabbccddeeaa,63BFA50EE6523365FF14C1F45F88737D,8000,000000001235
